# ─── Puerto del servidor ────────────────────────────────────────
PORT=

# ─── Entorno (development | production | test) ─────────────────
NODE_ENV=

# ─── Conexión a MongoDB ────────────────────────────────────────
MONGODB_URI=
